.all-btn a {
    text-decoration: none;
    color: white;
}

.all-btn {
    background-color: #289BDE;
    padding: 10px;
    border: 1px solid #289BDE;
    border-radius: 10px;
}

.trk-it {
    color: #289BDE;
}

/* Main Part Start */

.title {
    text-align: center;
}

.long-btn {
    margin-top: 15px;
    margin-left: 45%;

}


/* .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */



/* Start Responsive Mobile Part */
@media only screen and (max-width: 576px) {
    .company {
        display: none;
    }
}